<!DOCTYPE html>
<html>
  <head>
      <title>K.I.A.R.A Training Ground</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body onload="checkInput()">
    <h1>K.I.A.R.A Training Ground</h1>
    <h2>Train Kiara here. </h2>
    <p>This is an interactive training. Please precede the Questions/Query with <i>Q:</i>  or <i>q:</i>. </p>
    <p>Similarly, precede the Answers/Responses with <i>A:</i>  or <i>a:</i>. This will help in differentiating instructions from conversations.</p>

    <b>Note: This was born yesterday, it WILL take time to learn and adapt. This is AI at the end of the day so don't expect this to be perfect, yet...</b>
    <div>
      <div id="chatbox">
        <p class="botText"><span>Hi! I'm Kiara. Let's begin the training!  </span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send" class="sendButton">
      </div>
      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          checkInput();
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/chatapp/train", { msg: rawText }).done(function(data) {
            var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        $("#textInput").keypress(function(e) {
            checkInput();
            if(e.which == 13) {
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
            checkInput();
            getBotResponse();
        })

        function checkInput() {
            var userinput = $("#textInput").val();
            var element =  $('#buttonInput');
            var refinedUserinput = trimSpaces(userinput);
            if(refinedUserinput != ""){
                $('#buttonInput').removeAttr('disabled');
                element.removeClass("disabled");
                }
            else{
                $('#buttonInput').attr('disabled','disabled');
                element.addClass("disabled");
                }
        }

        function trimSpaces(userinput){

	        userinput = userinput.replace(/(^\s*)|(\s*$)/gi,"");
	        userinput = userinput.replace(/[ ]{2,}/gi," ");
	        userinput = userinput.replace(/\n /,"\n");
	        return userinput;
            }
      </script>
    </div>
  </body>
</html>