<!DOCTYPE html>
<html lang="en">
<!--<link rel="stylesheet" href="/static/css/test.css"> -->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="city">
<!-- <img src="/static/img/url_redirection.jpg" alt="URL Redirection Image" width="20%" height="auto"> -->
</div>
<h1>Application Suite</h1>

<h2>URL Redirection App</h2>
{{errormessage}}
</br>
1. <a href="/redirect/login">Login</a></br>
2. <a href="/redirect/signup">signup</a></br>

<h2>Chat Bot Service</h2>
Work in progress!
<a href="/chatapp">Chatapp</a></br>
</body>
</html>