<!DOCTYPE html>
<html lang="en">
<!-- <script src="/static/js/test.js" charset="utf-8"></script>
<link rel="stylesheet" href="/static/css/test.css"> -->
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<br>
<h1>This is the login page. </h1></br>

 <a href="/redirect">Go to home! </a></br>
 <a href="/redirect/signup">Sign up! </a></br>
</br>

{{errormessage}} </br>
<form name="login"  action="/redirect/userhome" onsubmit="return validateForm()" method="post">
        <p>
            <label for="username">Username</label>
            <input type="text" name="username">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" name="password">
        </p>
        <p>
            <input type="submit" value="Login">
        </p>
    </form>
</body>
</html>