<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<br>
This is the Sign up page. </br>
{{errormessage}} </br>
<form action="/redirect/userregister" method="post">
        <p>
            <label for="username">Username</label>
            <input type="text" name="username">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" name="password">
        </p>
        <p>
            <label for="password">Confirm Password</label>
            <input type="password" name="confirm_password">
        </p>
        <p>
            <input type="submit" value="Sign up!">
        </p>
    </form>
</body>
</html>